.Content {
    grid-area: Content;
    color: #f4b46a;

    .top {
        display: flex;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;

        input {
            border: 1px solid grey;
            border-radius: 10px;
            height: 3rem;
            width: 200px;
            @include adaptiv-font(16, 12);
            padding: 10px;
        }
    }
    .tags {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            padding: 12px 18px;
            background-color: #fff;
            border-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
            font-weight: 500;
            @include adaptiv-font(18, 14);
            border: 1px solid transparent;
            transition: all 0.14s ease-in-out;

            &:hover {
                border-color: #000;
            }

            &.active {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .recipes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipe {
        @include adaptiv-font(16, 10);
        margin: 30px;
        width: 300px;
        height: 330px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            width: 200px;
            height: 220px;
        }

        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 15px;
        }
        .black_img {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 15px;
        }
        .black_img:hover {
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

        .text {
            z-index: 0;
            margin-left: 10px;
            @include adaptiv-font(25, 16);
            font-weight: bold;
            text-shadow: 1px 1px 2px pink;
        }
        .reverse {
            display: flex;
            flex-direction: row-reverse;
        }
        .icon-btn {
            width: 50px;
            height: 50px;
            border: 1px solid #cdcdcd;
            background: white;
            border-radius: 25px;
            overflow: hidden;
            position: relative;
            transition: width 0.2s ease-in-out;
            overflow: hidden;
        }

        .add-btn:hover {
            width: 80px;
        }

        .add-btn::before,
        .add-btn::after {
            transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
            content: '';
            position: absolute;
            height: 4px;
            width: 10px;
            top: calc(50% - 2px);
            background: #f4b46a;
        }

        .add-btn::after {
            right: 14px;
            overflow: hidden;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .add-btn::before {
            left: 14px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .icon-btn:focus {
            outline: none;
        }

        .btn-txt {
            opacity: 0;
            transition: opacity 0.2s;
        }

        .add-btn:hover::before,
        .add-btn:hover::after {
            width: 4px;
            border-radius: 2px;
        }

        .add-btn:hover .btn-txt {
            opacity: 1;
        }

        .add-icon::after,
        .add-icon::before {
            transition: all 0.2s ease-in-out;
            content: '';
            position: absolute;
            height: 20px;
            width: 2px;
            top: calc(50% - 10px);
            background: #f4b46a;
            overflow: hidden;
        }

        .add-icon::before {
            left: 22px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .add-icon::after {
            right: 22px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .add-btn:hover .add-icon::before {
            left: 15px;
            height: 4px;
            top: calc(50% - 2px);
        }

        .add-btn:hover .add-icon::after {
            right: 15px;
            height: 4px;
            top: calc(50% - 2px);
        }
    }

    .ripple {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0);
        animation: button-circle 1s ease forwards;
    }

    @keyframes button-circle {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}

@media (max-width: 768px) {
    .sidebarL {
        max-width: 220px;
    }
}

@media (max-width: 425px) {
    .sidebarL {
        max-width: 100px;
    }
}
